list ( we can store list, tuple, sets in list)

In [1]:
x = ['apple', 'berry', 'cherry', 'grapes', 'litchi']
x[1] = 'stawberry'
print(x)

['apple', 'stawberry', 'cherry', 'grapes', 'litchi']

To print list in list values

In [1]:
x = ['apple', 'berry', 'cherry', 'grapes', 'litchi',(1,2,3,4,5),(1,2,3,4,5)]
x[1] = 'stawberry'
print(x[-1][1])

2

In [3]:
x = ['apple', 'berry', 'cherry', 'grapes', 'litchi']
x.append('1234')
print(x)

['apple', 'berry', 'cherry', 'grapes', 'litchi', '1234']

In [3]:
x = ['apple', 'berry', 'cherry', 'grapes', 'litchi']
x.append([1,2,3,4])
x.extend([1,2,3,4])
print(x)

['apple', 'berry', 'cherry', 'grapes', 'litchi', [1, 2, 3, 4], 1, 2, 3, 4]

sorting in list

In [5]:
x = ['apple', 'berry', 'cherry', 'grapes', 'litchi','cherry']
x.sort()
print(x)

['apple', 'berry', 'cherry', 'cherry', 'grapes', 'litchi']

tuples

In [6]:
names = ('x', 'y', 'z', 'a', 'b', 'c')
print(names)

('x', 'y', 'z', 'a', 'b', 'c')

changing tuple into list

In [7]:
names = ('x', 'y', 'z', 'a', 'b', 'c')
lst = list(names)
lst[1]= 56
print(lst)

['x', 56, 'z', 'a', 'b', 'c']

changing list into tuple

In [8]:
names = ('x', 'y', 'z', 'a', 'b', 'c')
lst = list(names)
lst[1]= 56
name = tuple(lst)
print(name)

('x', 56, 'z', 'a', 'b', 'c')

Q) Write a Python program to count the number of even and odd numbers in a list

In [18]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = 0
odd_num = 0
for i in num:
    if i%2 == 0:
        even_num += 1
        print('Even count : ', even_num)
    else:
        odd_num += 1
        print('Odd count : ', odd_num)

Odd count :  1
Even count :  1
Odd count :  2
Even count :  2
Odd count :  3
Even count :  3
Odd count :  4
Even count :  4
Odd count :  5
Even count :  5

In [11]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = 0
odd_num = 0
for i in num:
    if i%2 == 0:
        even_num += 1
    else:
        odd_num += 1
print('Odd count : ', odd_num)
print('Even count : ', even_num)

Odd count :  5
Even count :  5

we can create list with help of for loop as well

syntax : (print variable) for (variable) in range(range value from, range value to, steps to be skipped or jump)

In [1]:
lst = [x for x in range(1,20)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]


or

In [4]:
lst = []
for i in range (1,20):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

converting string to list

In [6]:
name = 'Sukhdeep Sachdeva Ritik Diksha Simran'
lst = name.split()
print(lst)

['Sukhdeep', 'Sachdeva', 'Ritik', 'Diksha', 'Simran']

if the spaces are filled with character like $ then add that character in split(by default it is space)

In [7]:
name = 'Sukhdeep$Sachdeva$Ritik$Diksha$Simran'
lst = name.split('$')
print(lst)

['Sukhdeep', 'Sachdeva', 'Ritik', 'Diksha', 'Simran']

if want to convert list to string

In [28]:
lst = ['Sukhdeep', 'Sachdeva', 'Ritik', 'Diksha', 'Simran']
string = ' '.join(lst)
print(string)

Sukhdeep Sachdeva Ritik Diksha Simran

SETS 
unordered,
immutable,
doesn't allow duplicates
used in {}.

indexing can't be used. hashing is used b/c indexing is slow.

In [18]:
s = {'dsd', 34, 1.2}
for i in s:
    print(i)

1.2
34
dsd

In [19]:
lst = [1,23,23,45,12,1,71,2,3,3,23]
x = set(lst)
print(x)

{1, 2, 3, 71, 12, 45, 23}

In [20]:
lst = [1,23,23,45,12,1,71,2,3,3,23]
x = list(set(lst))
print(x)

[1, 2, 3, 71, 12, 45, 23]

In [21]:
set1 = {1,3,5,7}
set2 = {9,11,13,17,19}
set3 = {12,11,56}
set1 = set1.union(set2.union(set3))
print(set1)

{1, 3, 5, 7, 9, 11, 12, 13, 17, 19, 56}

PRIME NUMBERS

In [2]:
for num in range(2,101):
    for i in range(2,101):
        if num % i == 0:
            break
    if num == i:
        print(i)
        # x = str(i)
        # y=list(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
x = []
for x in range(2,101):
    for i in range(2,101):
        if x % i == 0:
            break
    if x == i:
        # y = str(i)
        z = list(str(x))
        z.append(x)
        print(z)

['2', 2]
['3', 3]
['5', 5]
['7', 7]
['1', '1', 11]
['1', '3', 13]
['1', '7', 17]
['1', '9', 19]
['2', '3', 23]
['2', '9', 29]
['3', '1', 31]
['3', '7', 37]
['4', '1', 41]
['4', '3', 43]
['4', '7', 47]
['5', '3', 53]
['5', '9', 59]
['6', '1', 61]
['6', '7', 67]
['7', '1', 71]
['7', '3', 73]
['7', '9', 79]
['8', '3', 83]
['8', '9', 89]
['9', '7', 97]

In [24]:
x = []
y = ()
z = {}
print(x,y,z)
print(type(x),type(y),type(z))

[] () {}
<class 'list'> <class 'tuple'> <class 'dict'>

DICTIONARY

ordered, hashing is used here, mutable, duplicates are not allowed

'key' will always be string, : used to define values, values

In [29]:
my_self = {
    'name' : 'ritik ramesh',
    'age' : 23,
    'role' : 'student'
}
print(my_self['age'])

23

In [30]:
my_self = {
    'name' : 'ritik ramesh',
    'age' : 23,
    'role' : 'student'
}
print(my_self['age'])
my_self['age'] = 12
print(my_self['age'])

23
12

In [31]:
my_self = {
    'name' : 'ritik ramesh',
    'age' : 23,
    'role' : 'student'
}
for i in my_self.values():
    print(i)

ritik ramesh
23
student

In [33]:
my_self = {
    'name' : 'ritik ramesh',
    'age' : 23,
    'role' : 'student'
}
for i in my_self.items():
    print(i)

('name', 'ritik ramesh')
('age', 23)
('role', 'student')

In [53]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
m = sampleDict['class']['student']['marks']['history']
print(m)

80

In [1]:
keys = ['name' , 'role', 'age']
values = ['ritik ramesh','student', 23]
new_dict = {}
for i in range(len(keys)):
    new_dict[keys[i]] = values[i]
print(new_dict)

{'name': 'ritik ramesh', 'role': 'student', 'age': 23}

In [48]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
for i in dict2:
    dict1[i] = dict2[i]
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

PIPE(|) can also be used to concatenate

In [4]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
print(dict1 | dict2)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Q)hello

hhheeelllooo

In [25]:
string = input("Enter a string: ")
output = ""

for char in string:
    output += char * 3

print(output)

rrriiitttiiikkk

FUNCTIONS

defining a function

In [5]:
def prt_nm():
    print('ritik')

calling a function

In [8]:
def prt_nm():
    print('ritik')
prt_nm()

ritik

In [10]:
def sum():
    a = 12
    b = 18
    c = a + b
    print(c)
sum()

30

RETURN

In [11]:
def sum():
    a = 12
    b = 18
    c = a + b
    return c
x = sum()
print(x)

30

ARGUMENTS AND PARAMETERS

In [15]:
def sum(a,b):
    num1 = a
    num2 = b
    result = num1 + num2
    return result
x = sum(59,31)
print(x)

90

In [3]:
def sum(a,b):
    c = a + b
    return c
x = sum(54,46)
print(x)

100

In [24]:
def concat(a,b):
    c = str(a) + str(b)
    return c
x = concat('ritik ','ramesh')
print(x)

ritik ramesh

Given two integers, return True if the Sum of the integers is 20 or if one of the integers is 20. if not, return False.

In [46]:
def sum(a,b):
    if (a == 0 and b == 20) and (a == 20 and b == 0):
        return True
    elif a + b == 20:
        return True
    else:
        return False
sum(int(input('enter 1st no. ')),int(input('enter 2nd no. ')))

True

In [2]:
def sum(a,b):
    if (a == 0 or b == 20) or (a == 20 or b == 0):
        return True
    elif a + b == 20:
        return True
    else:
        return False
sum(int(input('enter 1st no. ')),int(input('enter 2nd no. ')))

True

In [4]:
def sum(a,b):
    if a == 20 or b == 20 or (a + b) == 20:
        return True
    else:
        return False
print(sum(int(input('value =')),int(input('value ='))))

False

global level scope/variable - variable defined outside of functions

local level scope/variable - stores variable in functions

MODULES

A file containing a set of functions you want to include in your application.

In [5]:
import datetime
print(datetime.datetime.now())

2023-03-02 16:24:24.498684

In [6]:
from datetime import datetime
print(datetime.now())

2023-03-02 16:25:12.892634

In [1]:
def lower_upper_count(text):
    count_lower = 0
    count_upper = 0
    for i in text:
        if i.isupper():
            count_upper += 1
        elif i.islower():
            count_lower += 1
    return count_lower,count_upper
lo,up = lower_upper_count(input('enter string/script :'))
print(f'the count of lower: {lo}')
print(f'the count of lower: {up}')

the count of lower: 9
the count of lower: 2

# FOR MAKING PATTERNS

In [3]:
for i in range(5):
    print('*' *i)

*
**
***
****

In [4]:
for i in range(5):
    print(f'{i}'*i)

1
22
333
4444

In [2]:
for i in range(10):
    print(f'{i}'*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [6]:
for i in range(10):
    print(' '*(10-i) + f' {i}'*i)

          1
         2 2
        3 3 3
       4 4 4 4
      5 5 5 5 5
     6 6 6 6 6 6
    7 7 7 7 7 7 7
   8 8 8 8 8 8 8 8
  9 9 9 9 9 9 9 9 9

Write a Python function to find the maximum and minimum number in a list.

In [6]:
def max_min(num):
    max_num,min_num = num[0],num[0]
    for i in num:
        if i > max_num:
            max_num = i
        elif i < min_num:
            min_num = i
    return max_num,min_num
num = [112,342,23,44,25,16,79,8,989,101]
max_num, min_num = max_min(num)
print('Maximum no. in list is :',max_num)
print('Maximum no. in list is :',min_num)

Maximum no. in list is : 989
Maximum no. in list is : 8

In [10]:
def max_min(num):
    num.sort()
    return num[0],num[-1]
num = [112,342,23,44,25,16,79,8,989,101]
max_num, min_num = max_min(num)
print('Maximum no. in list is :',max_num)
print('Maximum no. in list is :',min_num)

Maximum no. in list is : 8
Maximum no. in list is : 989

In [28]:
for i in range(10):
    print(' ' *(10-i) + '*' *i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********